<div *ngIf="group"  class=" flex flex-nowrap space-x-4">
  <div *ngIf="group.students" class="w-32 tracking-tight text-sm shadow-md rounded-md">
      <a href="/calificaciones">
        <div class="flex justify-center">
            <img class="rounded-t-md" src="./assets/img/avatar.jpg" alt="avatar">
        </div>
        <div *ngFor="let student of group.students" class="bg-gray-50 rounded-b-md p-2">
            <p class="mb-1"> {{ student.name }}</p>
            <p class="mb-2">{{ student.lastName }}</p>
            <div class="flex static">
                <p>{{ student.code }}</p>
            </div>
            <p class="text-right">{{group.quarter}}-{{ group.key}}</p>
        </div>
      </a>
  </div>
</div>

