<div class="container flex flex-nowrap ">
    <div class="bg-gray-50 rounded-md p-1 ">
        <div class="mb-1 flex justify-center">
            <img class="sm:w-20 w-12" src="./assets/img/avatar.jpg" alt="avatar">
        </div>
        <div class="bg-gray-200 p-2 rounded-md text-sm sm:text-base">
            <h1 class="mb-1">Marcos Martin</h1>
            <h1 class="mb-1">Avila Vargas</h1>
            <div class="sm:flex static">
                <h1 class="sm:mb-2 sm:mr-2">0319125260</h1>
                <h1 class="text-right">8-A</h1>
            </div>
        </div>
    </div>
</div>