<div class="container flex flex-nowrap ">
    <div class="bg-blue-600 p-2 rounded-md font-sans">
        <div class="w-24 bg-red-500">
            <img src="./assets/img/avatar.jpg" alt="avatar">
        </div>
        <div>
            <div class="bg-gray-100 text-sm p-2 rounded-md font-medium">
                <p class="w-32 mb-1">Mararcos Martin Avila Vargas</p>
                <div class="flex">
                    <p>0319125260</p>
                    <p class="ml-2">8-A</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bg-blue-600 p-2 rounded-md font-sans">
        <div class="w-24 bg-red-500">
            <img src="./assets/img/avatar.jpg" alt="avatar">
        </div>
        <div>
            <div class="bg-gray-100 text-sm p-2 rounded-md font-medium">
                <p class="w-32 mb-1">Mararcos Martin Avila Vargas</p>
                <div class="flex">
                    <p>0319125260</p>
                    <p class="ml-2">8-A</p>
                </div>
            </div>
        </div>
    </div>
   
</div>