<div *ngIf="student" class="container pt-2 pb-4 px-10 border">
  <div class="container  break-words">
    <div class="p-2 grid xl:grid-cols-4 grid-cols-1 sm:gap-4 ">
      <div class="p-4 font-sans text-lg  w-full h-full grid-rows-2 gap-4 shadow-md bg-white">
        <div class="flex justify-center">
          <img class="object-cover h-48 w-full rounded-t-md align-middle border shadow-md" src="{{imgStudent}}" alt="avatar">
        </div>
        <div class="mt-4 p-2 font-sans text-center text-xl border rounded-md">
          <p class="mx-6" id="birthStudent"> <b class="font-medium">Edad: </b> {{student.age}}</p>
        </div>
        <div class="mt-4">
          <div *ngIf="student.contacts" class="mt-4 p-2 font-sans text-xl border rounded-md text-center">
            <p class="text-center text-2xl font-medium">Contactos</p>
            <div *ngFor="let contact of student.contacts">
              <p class="p-1" id="nameContact"> {{ contact.name }} </p>
              <div class="text-base text-gray-500">
                <p class="p-1" id="contactEmail1"> {{ contact.contact.email }} </p>
                <p class="p-1" id="contactEmail2"> {{ contact.contact.email2 }} </p>
                <div class="grid 2xl:grid-cols-2 grid-cols-1">
                  <p class="p-1" id="contactPhone2" name="NULL"> {{ contact.contact.phone }} </p>
                  <p class="p-1" id="contactPhone1"> {{ contact.contact.phone2 }} </p>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="student.labor" class="mt-4 p-2 font-sans text-xl border rounded-md text-center">
            <p class="p-1 text-center font-medium text-2xl">Trabajo</p>
            <div class="" id="job">
              <p class="p-1" id="nameBusiness">{{ student.labor.business }}</p>
              <div class="text-base text-gray-500">
                <p class="p-1" id="nameJob">{{ student.labor.job }}</p>
                <p class="p-1" id="contactJobEmail">{{ student.labor.contact.email }}</p>
                <p class="p-1" id="contactJobPhone">{{ student.labor.contact.phone }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="p-4 font-sans text-xl shadow-md rounded-md col-span-3 bg-white" id="studentSection">
        <div class="align-middle">
          <p class="p-2 font-sans font-medium border rounded-md text-center normal-case" id="studentName">
            {{ student.name }} {{ student.lastName }}
          </p>
        </div>
        <div class="mt-4 grid grid-cols-2 gap-4">
          <div class="p-2 font-sans font-medium border rounded-md text-center normal-case">
            <p class="" id="groupCode">TI-IDGS-9A-202203</p>
          </div>
          <div class="p-2 font-sans border rounded-md text-center normal-case">
            <p class="text-center" id="groupQuarter"> <b class="font-medium">Grupo: </b> 9A </p>
          </div>
          <div class="p-2 font-sans border rounded-md text-center normal-case col-span-2">
            <p class="text-center font-medium" id="majorName">Ingeniería en Tecnologías de la Información</p>
          </div>
          <div class="p-2 font-sans font-normal col-span-2 sm:text-2xl text-xl">
            <p class="text-center font-medium">Detalles</p>
          </div>
          <!--Imputs-->
          <div class="p-2 font-normal font-sans border rounded-md text-center normal-case grid grid-rows-2">
            <p class="text-center font-medium">Fecha de nacimiento:</p>
            <p class="text-center" id="dateBirth">12-01-2001</p>
          </div>
          <div class="p-2 font-sans border rounded-md text-center normal-case grid sm:grid-cols-3 grid-cols-1" id="studentAddress">
            <div class="grid grid-rows-2 text-center">
              <p class="font-medium">Colonia:</p>
              <p class="text-gray-500" id="El Mirador">El Mirador</p>
            </div>
            <div class="grid grid-rows-2 text-center">
              <p class="font-medium">Calle:</p>
              <p class="text-gray-500" id="studentStreet">Chula Vista</p>
            </div>
            <div class="grid grid-rows-2 text-center">
              <p class="font-medium">Numero:</p>
              <p class="text-gray-500" id="studentNumberAddress">#413</p>
            </div>
          </div>
          <!-- <select *ngIf="asset" class="p-2 bg-white font-sans border rounded-md text-center" id="placeBorn">
            <option value="AGC" id="AGC">Aguas Calientes</option>
            <option value="BC" id="BC"> Baja California </option>
            <option value="SIN" id="SIN"> Sinaloa</option>
          </select> -->
          <select class="p-2 bg-white font-sans border rounded-md text-center" id="studentGender">
            <option value="GN-M" id="GN-M">Masculino</option>
            <option value="GN-F" id="GN-F"><b> Genero </b></option>
            <option value="GN-F" id="GN-F">Femenino</option>
            <option value="GN-OND" id="GN-OND">Otro/No definido</option>
          </select>
          <select class="p-2 bg-white font-sans border rounded-md text-center" id="studentMaritalStatus">
            <option value="EC-SLT" id="EC-SLT">Soltero(a)</option>
            <option value="GN-F" id="GN-F"><b> Estado Civil </b></option>
            <option value="EC-CSD" id="EC-CSD">Casado(a)</option>
            <option value="EC-DVR" id="EC-DVR">Divorciado(a)</option>
            <option value="EC-UL" id="EC-UL">Unión Libre </option>
          </select>
        </div>
        <div class="p-2 font-sans font-normal col-span-2 my-3 sm:text-2xl text-xl">
          <p class="text-center font-medium">Calificaciones</p>
        </div>
        <div *ngIf="student.stats" class="mt-4 grid grid-cols-2 gap-2 mb-3">
          <div class="container-sm text-center text-4xl font-semibold border rounded w-full p-1 bg-white ">
            <p class="text-sm">
              Promedio TSU
            </p>
            {{ student.stats.tsu.tsuAvg.toFixed(2)  }}
          </div>
          <div class="container-sm text-center text-4xl font-semibold border rounded w-full p-1 bg-white">
            <p class="text-sm">
              Promedio ING
            </p>
            {{ student.stats.eng.engAvg.toFixed(2) }}
          </div>
        </div>
        <div class="p-2 mt-4 w-full border rounded" [chart]="gradesChart">
        </div>
      </div>
    </div>
  </div>
</div>
