<div class="bg-gray-50">
    <div class="container py-5 px-10 ">
        <div>
            <div class="font-sans text-lg font-semibold border-2">
                <h1 class="align-middle font-semibold bg-blue-200 p-2">Graficas de calificaciones</h1>
                <div class="flex flex-nowrap">
                  <div class="box-border h-80 w-1/2 border-4 ">
                    <img class="w-full h-full" src='./assets/img/a_04_04_grafico1.JPG' alt='graphic'>
                  </div>
                  <div class="flex flex-col p-2">
                    <div class="pb-2">Calificacion de examen ingreso</div>
                    <div class="pb-2">Nivel de ingles</div>
                    <div class="pb-2">Promedio general de calificaciones</div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
