<div *ngIf="student"  class=" flex flex-nowrap space-x-4 mx-1">
  <div class="w-32 tracking-tight text-sm shadow-md rounded-md">
      <a [routerLink]="['/alumno', student.id]" >
        <div class="flex w-full justify-center">
            <img class="object-cover h-48 w-full rounded-t-md align-middle" src="{{imgStudent}}" alt="avatar">
        </div>
        <div class="bg-gray-50 rounded-b-md text-xs p-1">
            <p class="mb-1"> {{ student.name }}</p>
            <p class="mb-2"> {{ student.lastName }}</p>
            <div class="flex static font-semibold text-center">
              {{ student.code }}
            </div>
            <p class="text-right font-semibold">9A</p>
        </div>
      </a>
  </div>
</div>

