<div>
  <nav class=" bg-gray-200 border-gray-200 border-4 navbar-expand-sm navbar-toggleable-sm navbar-light flex rounded-sm">
    <div class="">
      <button
        class="font-sans text-lg font-semibold text-white navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }">
        <ul class="flex-grow navbar-nav">
          <li>
            <a class="font-sans text-lg  font-semibold text-black nav-link bg-gray-200 focus:bg-gray-50 px-5 mr-1" [routerLink]="['/']">
              Group
            </a>
          </li>
          <li>
            <a class="font-sans text-lg  font-semibold text-black nav-link bg-gray-200 focus:bg-gray-50 px-5 mr-1" [routerLink]="['/counter']">
              Student
            </a>
          </li>
          <!-- <li>
            <a (click)="foo()" class="font-sans text-lg  font-semibold text-black nav-link bg-gray-200 focus:bg-gray-50 px-5 mr-1" [routerLink]="['/fetch-data']"
              >Fetch data</a>
          </li> -->
          <!-- <button (click)="foo()">Click</button> -->
          <!-- <button (click)="updateColor()" [style.color]="color">Update color</button> -->
        </ul>
      </div>
    </div>
  </nav>
</div>
